
body{
	background-color: #fcc;
}
#main{
	margin:100px;
	margin:100px auto;
	padding: 30px;
	background-color: #daa;
	min-width: 300px;
	max-width: 500px;
}

#meny{
	border: 1px solid black;
	background-color: ddd;
	max-width: 200px;
}
